* {
    color: white;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgb(43, 43, 43);
}

.header,
.footer {
    background-color: rgb(20, 20, 20);
    height: 150px;
}

.title {
    color: white;
    margin-left: 170px;
    padding-top: 100px;


}


.text {
    margin-left: 170px;
    font-size: 20px;
    color: white;
    padding-top: 20px;
}



/* img {
    width: 900px;
    height: 700px;
} */
img {
    width: 100%;
}

.info {
    background-color: rgb(141, 10, 10);
    width: 45%;
    display: inline-block;
}

/* .imgD {
    background-color: red;
    width: 50%;
    display: inline-block;
} */


.mainPic {
    background-color: rgb(141, 10, 10);
    width: 50%;
    display: inline-block;
}

.mainPic,
.info {
    height: 650px;
}

.logo {
    width: 230px;
    height: 140px;
    margin-top: 5px;
}

.info-table {
    margin-left: 67%;
    margin-top: 25px;
    border: 3px solid rgb(177, 0, 0);
    width: 300px;
    position: absolute;
    display: inline;
     color: white;

}
th{
    border: 2px solid rgb(177, 0, 0);
}